<!-- header section -->
<header class="container header">
    <nav class="navigation">
        <a class="logo__link" href="">
          <div class="logo__container"><span class="logo logo__front">Heav </span> <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="50"
            height="40" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 121.46"
            style="enable-background:new 0 0 122.88 121.46" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                }
            </style>
            <g>
                <path class="wings__logo"
                    d="M12.35,121.46c-8.01-9.72-11.92-19.29-12.31-28.71C-0.78,73.01,10.92,58.28,28.3,47.67 c18.28-11.16,37.08-13.93,55.36-22.25C92.79,21.27,103.68,14.47,121.8,0c5.92,15.69-12.92,40.9-43.52,54.23 c9.48,0.37,19.69-2.54,30.85-9.74c-0.76,19.94-16.46,32.21-51.3,36.95c7.33,2.45,16.09,2.58,27.27-0.58 C74.33,116.81,29.9,91.06,12.35,121.46L12.35,121.46z" />
            </g>
        </svg> <span class="logo"> EN</span></div>
        <div class="logo__text"> <span class="logo__text-dedicated">heaven</span> <span> english</span></div></a>
        <div class="header-menu">
        <ul class="nav-list">
            <li><a class="nav-list__item" href="#Studying program">Studying program</a></li>
            <li><a class="nav-list__item" href="#about">about</a></li>
            <li><a class="nav-list__item" href="#training options">training options</a></li>
            <li><a class="nav-list__item" href="#contacts">contacts</a></li>
            
        </ul>
        <button class="nav-list__btn">consultation by phone</button>
    
    </div>
    <button class="menu__burger-btn" type="button" data-menu-button > </button>
    </nav>
 <div class="mobile-menu is-open" data-menu>
     
     <div class="container mobile-menu__container">
         <button class="mobile-menu__close-button" data-menu-close> <svg class="mobile-menu__close-icon">
             <use href="/./images/icons/symbol-defs.svg#menu-close"></use>
         </svg></button>
        <nav>
            <a class="logo__link" href="">
                <div> <span class="mobile-menu__logo logo__front">Heav</span><?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                   width="50" height="40" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 121.46"
                    style="enable-background:new 0 0 122.88 121.46" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill-rule: evenodd;
                            clip-rule: evenodd;
                        }
                    </style>
                    <g>
                        <path class="wings__logo"
                            d="M12.35,121.46c-8.01-9.72-11.92-19.29-12.31-28.71C-0.78,73.01,10.92,58.28,28.3,47.67 c18.28-11.16,37.08-13.93,55.36-22.25C92.79,21.27,103.68,14.47,121.8,0c5.92,15.69-12.92,40.9-43.52,54.23 c9.48,0.37,19.69-2.54,30.85-9.74c-0.76,19.94-16.46,32.21-51.3,36.95c7.33,2.45,16.09,2.58,27.27-0.58 C74.33,116.81,29.9,91.06,12.35,121.46L12.35,121.46z" />
                    </g>
                </svg>
                    
                    
                    <span class="mobile-menu__logo">EN</span></div>
                <div class="logo__text"> <span class="logo__text-dedicated">heaven</span> <span class="logo__txt-item"> english</span></div>
            </a>
           
            <ul class="mobile-menu__nav-list">
                <li><a class="mobile-menu__nav" href="#Studying program">Studying program</a></li>
                <li><a class="mobile-menu__nav " href="#about">About</a></li>
                <li><a class="mobile-menu__nav" href="#training options">Training options</a></li>
                <li><a class="mobile-menu__nav" href="#contacts">Contacts</a></li>
                
            </ul>
            <button class="mobile-menu__btn">consultation by phone</button>
        </nav>
    </div>
        </div>
</header>